<!DOCTYPE html>
<html>
<head>
    <title>{{ medicine.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5 text-center">
        <a href="/" class="btn btn-outline-secondary mb-4">⬅ Orqaga qaytish</a>
        <div class="card mx-auto shadow" style="max-width: 600px;">
            <img src="{{ medicine.image.url }}" class="card-img-top">
            <div class="card-body">
                <h1 class="fw-bold">{{ medicine.name }}</h1>
                <p class="lead">{{ medicine.description }}</p>
                <h2 class="text-success">{{ medicine.price }} so'm</h2>
                <hr>
                <a href="https://t.me/DI_608_24?text=Salom, men saytingizdan {{ medicine.name }} sotib olmoqchiman. Narxi: {{ medicine.price }} so'm" 
   target="_blank" 
   class="btn btn-primary btn-lg w-100">
   💬 Telegram orqali buyurtma berish
</a>
            </div>
        </div>
    </div>
</body>
</html>